/* Beau Blue #C9DAEA
Fluorescent Blue #03F7EB
Jungle Green #00B295
Eerie Black #191516
Cerulean Blue #3454D1 */

.login-register-button {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    border: none;
    background: none;
}

.login-register-button {
    --primary-color: #BB9F06;
    --hovered-color: #00B295;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
    justify-content: end;
}

.login-register-button p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color)
}

.login-register-button::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
}

.login-register-button p::before {
    position: absolute;
      box-sizing: border-box;
    content: "Acceder";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
}

.login-register-button:hover::after {
    width: 100%;
}

.login-register-button:hover p::before {
    width: 100%;
}

.login-register-button:hover svg {
    transform: translateX(4px);
    color: var(--hovered-color)
}

.login-register-button svg {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
}

.login-title{
    color: #BB9F06
}