/* Beau Blue #C9DAEA
Fluorescent Blue #03F7EB
Jungle Green #00B295
Eerie Black #191516
Cerulean Blue #3454D1 */
* {
    text-align: center;
    align-items: center;
}

span a {
    margin-left: 40px;
}

span {
    list-style: none;
    color: white;
    margin-left: 15px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    background-color: #191516 !important;
    color: white !important;
    font-family: Montserrat;
}

.profileImg {
    width: 210px;
    height: 250px;
    position: relative;
    z-index: 1;
    box-shadow: 7px 7px #3454D1, 6px 6px #3454D1, 5px 5px #3454D1, 4px 4px #3454D1, 3px 3px #3454D1, 2px 2px #3454D1, 1px 1px #3454D1;
    margin-bottom: 40px
}

.poster {
    width: 355px;
    height: 400px;
    position: relative;
    left: -60px;
    z-index: 1;
    box-shadow: 7px 7px #3454D1, 6px 6px #3454D1, 5px 5px #3454D1, 4px 4px #3454D1, 3px 3px #3454D1, 2px 2px #3454D1, 1px 1px #3454D1;
}

.firstRow {
    margin-top: 50px;
}

.generalInfoCard {
    padding-top: 150px;
    color: white;
    background-color: red;
}

.pageUsername {
    color: #03F7EB;
    position: sticky;
    top: 70px;
    background-color: #191516;
    width: 100%;
    z-index: 9;
    font-size: 100px;
}

.pageUsername h1 {
    font-size: 80px;
    /* text-align: center; */
}

.messageButton {
    width: 55px;
    height: 55px;
    border: 1px solid white;
    background-color: black;
    border-radius: 50%;
    text-align: center;
    padding-top: 17px;
    user-select: none;
    position: absolute;
    left: 1053px;
    top: 250px;
    z-index: 2;
}

.messageButton:hover {
    animation-name: messageButton-transform;
    animation-duration: .25s;
    animation-fill-mode: forwards;
}

.messageButton:active {
    animation-name: btn2-onClick;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes messageButton-transform {
    100% {
        background-color: rgb(74, 174, 74);
        color: white;
        transform: scale(1.1);
        font-size: 22px;
    }
}

@keyframes messageButton-onClick {
    0% {
        background-color: #F87060;
    }

    100% {
        opacity: 0;
    }
}