/* Beau Blue #C9DAEA
Fluorescent Blue #03F7EB
Jungle Green #00B295
Eerie Black #191516
Cerulean Blue #3454D1 */

.generalInfoCard {
    padding-top: 150px;
    color: white;
    background-color: red;
}

.pageUsername {
    color: #03F7EB;
    position: sticky;
    top: 80px;
    background-color: #191516;
    width: 100%;
    z-index: 9;
    font-size: 100px;
}

.pageUsername h1 {
    font-size: 80px;
    /* text-align: center; */
}