/* Beau Blue #C9DAEA
Fluorescent Blue #03F7EB
Jungle Green #00B295
Eerie Black #191516
Cerulean Blue #3454D1 */

.homePage {
    height: 100vh;
    background-color: #191516;
    background-size: cover;
    background-repeat: repeat-y;
    /* background-image: url('./../../../../public/img/titulo.png'); */
    color: #C9DAEA;
    scroll-behavior: smooth;
}

.rowOne {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowOne a {
    height: 300px;
    width: 300px;
    border: 2px solid #03F7EB;
    background-color: #191516;
    background-image: url('./../../../../public/img/logosSinFondo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 2s ease;
}


.rowOne a:hover {
    transition: 2s ease;
    /* background-color: #03F7EB; */
    height: 500px;
    width: 900px;
    border: 10px solid #03F7EB;
    background-image: url('./../../../../public/img/titulo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.rowOne a img {
    width: auto;
    height: 200px;
    margin-top: 40px;
}

.homeRow {
    height: 100vh;
    background-size: cover;
    background-color: #191516;
    margin-right: 0 !important
}

.two {
    background-image: url('./../../../../public/img/titulo.png');
}

.mainTitle {
    margin: 300px 40% 50px;
}

.quienEres {
    color: #C9DAEA;
    text-align: center;
    transition: 1s ease;
    padding: 40px;

}

.quienEres:hover {
    transition: 1s ease;
    color: #03F7EB;
    text-align: center;

}

.notLoggedBtns {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.loginBtn,
.signupBtn {
    margin-bottom: 20px;
    color: #03F7EB;
    border: 0 solid black;
    height: 75px;
    font-size: 25px;
    display: flex;
    width: 40%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
}

.loginBtn:hover {
    filter: none;
    border-radius: 60px;
    transition: 0.5s ease;
    font-size: 35px;
    color: #191516;
    height: 100px;
    background-color: #03F7EB;
}

.signupBtn:hover {
    filter: none;
    border-radius: 60px;
    transition: 0.5s ease;
    font-size: 35px;
    color: #191516;
    height: 100px;
    background-color: #03F7EB;
}

.homeSelections {
    text-decoration: none;
}

.searchFor {
    margin-top: 190px;
}


.homeSelections div {
    background-color: #BB9F06;
    margin-bottom: 20px;
    height: 75px;
    border-radius: 20px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #03F7EB;
    border: 10px solid #191516;
    color: #191516;
    opacity: .7;
    transition: 1s ease;
}

.homeSelections div:hover {
    transition: 1s ease;
    font-size: 35px;
    color: white;
    background-color: #191516;
    border: 2px solid #03F7EB;
    color: #03F7EB;
}
