/* Beau Blue #C9DAEA
Fluorescent Blue #03F7EB
Jungle Green #00B295
Eerie Black #191516
Cerulean Blue #3454D1 */

.searchBarDiv {
    margin: 50px auto 30px;
    width: 300px;
    height: 50px;
}

.searchBar {
    background-color: #03F7EB;
    box-decoration-break: unset;
    color: #191516;
    width: 300px;
    height: 50px;
    border: none;
    font-size: 10pt;
    float: left;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 35px;
    opacity: .7;
    transition: .3s ease;
    margin: 0;
}

.searchBar:hover {
    transition: .3s ease;
    background-color: #191516;
    border: 2px solid #03F7EB;
    color: #03F7EB;
    width: 300px;
    height: 60px;
    font-size: 14pt;
}

.searchBar::placeholder {
    color: #191516;
    transition: .3s ease;
}

.searchBar:hover::placeholder {
    /* transition: .3s ease; */
    color: #03F7EB
}