.create-event-title {
    margin-top: 30px;
    color: #1EE49D
}

.centerAll {
    margin: auto;
}

.aire {
    margin: 15px 0px 30px 0px
}

.event-cartel {
    height: 250px;
    margin-bottom: 20px;
    background-color: #C9DAEA;
}


.createEvent-button {
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    background: none;
}

.createEvent-button {
    --primary-color: #3454D1;
    --hovered-color: #00B295;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
    justify-content: end;
}

.createEvent-button p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color)
}

.createEvent-button::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
}

.createEvent-button p::before {
    position: absolute;
    box-sizing: border-box;
    content: "Crear";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
}

.createEvent-button:hover::after {
    width: 100%;
}

.createEvent-button:hover p::before {
    width: 100%;
}

.createEvent-button:hover svg {
    transform: translateX(4px);
    color: var(--hovered-color)
}

.createEvent-button svg {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
}