.likeGeneral {
    width: 55px;
    height: 55px;
    border: 1px solid white;
    background-color: black;
    border-radius: 50%;
    text-align: center;
    padding-top: 17px;
    user-select: none;
    position: absolute;
    left: 1053px;
    top: 320px;
    z-index: 2;
}

.nextEvents {
    margin-top: 40px;
}


.likeGeneral:hover {
    animation-name: likeGeneral-transform;
    animation-duration: .25s;
    animation-fill-mode: forwards;
}

.likeGeneral:active {
    animation-name: btn2-onClick;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes likeGeneral-transform {
    100% {
        background-color: rgb(74, 174, 74);
        color: white;
        transform: scale(1.1);
        font-size: 22px;
    }
}

@keyframes likeGeneral-onClick {
    0% {
        background-color: #F87060;
    }

    100% {
        opacity: 0;
    }
}