/* Beau Blue #C9DAEA
Fluorescent Blue #03F7EB
Jungle Green #00B295
Eerie Black #191516
Cerulean Blue #3454D1 */

.modal-content {
    border-radius: 50px !important;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(16px) brightness(125%);
    border: 0px;
}



.loginPage {
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    padding-bottom: 40px;
    margin: 0px;
    padding-top: 50px;
}

.login-bigTitle {
    color: #00B295;
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 40px;
}

.one-option-user {
    background-color: #BB9F06;
    margin-bottom: 20px;
    height: 75px;
    border-radius: 20px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 0.5s ease;
}

.one-option-user:hover {
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 0.5s ease;
    font-size: 35px;
    color: white
}

.modal-header-li-si {
    background-color: white;
}

.prueba {
    border-radius: 20px;
}