.registerPage {
    background-color: #C9DAEA;
    text-align: center;
    padding-bottom: 50px;
    margin: 0px
}

.registerPage {
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    padding-bottom: 40px;
    margin: 0px;
    padding-top: 50px;
}

.register-bigTitle {
    color: #00B295;
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 40px;
}


.register-button {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    border: none;
    background: none;
}

.register-button {
    --primary-color: #3454D1;
    --hovered-color: #00B295;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
    justify-content: end;
}

.register-button p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color)
}

.register-button::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
}

.register-button p::before {
    position: absolute;
    box-sizing: border-box;
    content: "Registrarme";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
}

.register-button:hover::after {
    width: 100%;
}

.register-button:hover p::before {
    width: 100%;
}

.register-button:hover svg {
    transform: translateX(4px);
    color: var(--hovered-color)
}

.register-button svg {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
}

.login-title {
    color: #1EE49D
}

.input-group-text{
    background-color: transparent !important;
    border: 0px !important
}

.profilePic-Signin{
    /* background-color: red; */
    height: 220px;
    border-radius: 50%;
}

.searchBarArtistSignIn .searchBarDiv{
    margin-top: 0px !important
}